<h3>Index</h3>

<%= form_for @list, :remote => true do |f| %>
  <%= f.label :task %>
  <%= f.text_field :task, :class => "tudu-new-task-input" %>

  <%= f.label :priority %>
  <%= f.select :priority, List::PRIORITY %>

  <%= f.submit "Create TuDu", :class => "tudu-create-new-btn" %>
<% end %>
<br>
<br>
<hr>
<ul class="tudu-list">
  <% @lists.each do |list| %>
    <li class="priority-<%= list.priority.downcase %> tudu-id-<%= list.id %> tudu-list-task">
      <div class="tudu-task"><%= list.task %></div>
      <div class="tudu-edit-form hidden">
        <%= form_for list, :remote => true do |f| %>
          <%= f.text_field :task, :class => "tudu-edit-input" %>
        <% end %>
      </div>

      <ul class="tudu-task-options">
        <li class="tudu-edit">Edit</li>
        <li class="tudu-update hidden">Update</li>
        <li class="tudu-edit-cancel hidden">Cancel</li>
        <li class="tudu-delete"><%= link_to 'Delete', list, :method => :delete, :remote => true %></li>
      </ul>
    </li>
  <% end %>
</ul>