<h3>Index</h3>
<%= link_to "+", new_list_path, :class => "new-tudu" %>
<ul>
  <% @lists.each do |list| %>
    <li class="priority-<%= list.priority.downcase %> tudu-id-<%= list.id %> tudu-list-task">
        <span class="tudu-task"><%= list.task %></span>| 
        <span><%= list.priority %></span> |
      <span class="tudu-edit">Edit</span> |
      <%= link_to 'Delete', list, :method => :delete %>

      <%= form_for list, :remote => true do |f| %>
        <%= f.text_field :task %>
        <%= f.submit "Update" %>
      <% end %>
    </li>
  <% end %>
</ul>