<h3>New</h3>
<%= form_for @task do |f| %>
  <%= f.label :item %>
  <%= f.text_field :item %>

  <%= f.label :priority %>
  <%= f.select :priority, Task::PRIORITY %>

  <%= f.submit "Create TuDu" %>

<% end %>
