<h3>New</h3>
<%= form_for @task do |f| %>
  <%= f.label !!:task!! %>
  <%= f.text_field !!:task!! %>

  <%= f.label :priority %>
  <%= f.select :priority, Task::PRIORITY %>

  <%= f.submit "Create TuDu" %>

<% end %>
