<!DOCTYPE html>
<html>
  <head>
    <title>TuduList</title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,300,700' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div class="main-header">
      <div class="header-container">
        <div class="logo">
          <h1>TuDu</h1>
        </div>
        <div class="create-container">
        <%= form_for @list, :remote => true do |f| %>
          <%#= f.label :task %>
          <%= f.text_field :task, :class => "tudu-new-task-input" %>

          <%#= f.label :priority %>
          <%= f.select :priority, List::PRIORITY, :class => "tudu-new-task-priority" %>

          <%= f.submit "Create TuDu", :class => "tudu-create-new-btn" %>
        <% end %>
        <div class="hidden"></div>
      </div>
      </div>
    </div>
    <div class="main-container">
      <%= yield %>
    </div>
  </body>
</html>
